{
  "extends": [
    "plugin:vue/essential",
    "prettier/vue",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": 0,
    "class-methods-use-this": 0,
    "global-require": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2,
        "semi": false
      }
    ]
  }
}
