@mixin shadow-blurry() {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
}

@mixin border-standard() {
  border: 1px solid $color-border;
}

@mixin border-thick() {
  border: 2px solid $color-border;
}

@mixin hover-enlarge() {
  transition: transform 0.3s;
  &:hover {
    transition: transform 0s;
    transform: scale(1.1);
  }
}
